# Django Settings
DEBUG=1 # 1 untuk True, 0 untuk False
SECRET_KEY=abcdef1234567890
ALLOWED_HOSTS=localhost 127.0.0.1 10.0.2.2 192.168.100.211 #tambahkan ip laptop kalian kalau mau coba di emulator

# Database Settings (Digunakan oleh Django & Postgres)
DB_NAME=digita_db
DB_USER=digitaadmin
DB_PASSWORD=digitaadmin
DB_HOST=db
DB_PORT=5432

# Postgres Init Settings (Digunakan oleh service 'db' saat pertama kali dibuat)
POSTGRES_DB=digita_db
POSTGRES_USER=digitaadmin
POSTGRES_PASSWORD=digitaadmin

# BREVO_EMAIL_HOST=
# BREVO_EMAIL_PORT=
# BREVO_EMAIL_HOST_USER=
# BREVO_EMAIL_HOST_PASSWORD=
# BREVO_DEFAULT_FROM_EMAIL=

# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_STORAGE_BUCKET_NAME=
# AWS_S3_REGION_NAME=

# GOOGLE_APPLICATION_CREDENTIALS=
