.env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store # macOS
Thumbs.db # Windows
*.log
logs/
.idea
.vscode/ # VS Code (kecuali jika ada setting spesifik proyek yg ingin dibagikan)
*.sublime-project
*.sublime-workspace
.DS_Store
mise.toml
firebase-service-account-key.json